<mat-card class="{{ content.type }}">
  <mat-card-header>
    <h2>{{ content.title }}</h2>
  </mat-card-header>
  <mat-card-content>
    <p id="desc">{{ content.description }}</p>
    <img class="image" *ngIf="content.imgURL; else defImage" [src]="content.imgURL" alt="Content Image" (click)="imageText()"><br>
    <p id="crtr">By:<em> {{ content.creator }}</em></p>
    <ul>
      <mat-icon matListItemIcon>list</mat-icon>
      <li *ngFor="let tag of content.tags" [appHoverAffect]="{fontWeight: 'bold'}" style="cursor: pointer;" class="{{ tag }}">{{ tag }}</li>
    </ul>
    <p appHoverAffect style="cursor: pointer;" [appHoverAffect]="{textDecoration: 'underline'}">Type: {{ content.type }}</p>
  </mat-card-content>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>

<ng-template #defImage> 
  <img src="https://media.lashowroom.com/10/error-item-not-found.png" alt="Default Image"> 
</ng-template>